*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
    background: #1c1c1e;
    padding-right: 100px;
    color: #1c1c1e;
}

.book {
    position: relative;
    border-radius: 10px;
    width: 180px;
    height: 250px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-perspective: 2000px;
    perspective: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    transition-duration: 0.5s;
}

.cover,
.inner { top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-trasnform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transform: rotateY(70deg);
    transform: rotateY(70deg);
}

.inner {
    transform-origin: 100%;
}
.book:hover .inner {
translateX(140px);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -ms-transform: rotateZ(25deg) rotateX(-30deg) rotateY(-10deg) translateX(140px);
    transform: rotateZ(25deg) rotateX(-30deg) rotateY(-10deg) translateX(140px);
    -webkit-box-shadow: 1px 1px 20px #000a;
    box-shadow: 1px 1px 20px #000a;
}

.book:hover {
    transform: rotateZ(-10deg);
}
.text {
    font-size: 20px;
    font-weight: 100;

}